!gradlew.bat
*.bat
*.DS_Store
*.iml
*.ipr
*.iws
.classpath
.gradle
.project
.settings
/.idea/
/.vscode/
/bin/
/build/
/config/
/crash-reports/
/eclipse/
/logs/
/out/
/run/
/saves/
banned-ips.json
banned-players.json
eula.txt
ops.json
options.txt
server.properties
servers.dat
src/main/resources/mixins.*([!.]).json
usercache.json
usernamecache.json
whitelist.json
